{
  "presets": [
    ["airbnb", {
      "modules": false
    }]
  ],
  "env": {
    "development": {
      "plugins": ["external-helpers"]
    },
    "production": {
      "plugins": ["external-helpers"]
    },
    "test": {
      "presets": [
        ["airbnb", {
          "modules": true,
          "targets": { "node": "current" }
        }]
      ]
    }
  }
}
