{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "curly": ["error", "all"],
    "max-len": ["error", {"code": 100, "ignoreUrls": true}]
  },
  "env": {
    "browser": true
  }
}
